<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.vamodebus"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:debuggable="true">

        <activity android:name=".activitys.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity
                android:name="activitys.MainActivity"
                android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>-->

        <activity android:name=".activitys.MainActivity"></activity>
        <activity android:name=".activitys.ListRouteActivity"></activity>
        <activity android:name=".activitys.WhereTheBusIsActivity"></activity>
    </application>

</manifest>