<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.vamodebus"
    android:versionCode="4"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="true">

        <activity android:name=".activitys.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.ListRouteActivity"></activity>
        <activity android:name=".activitys.WhereTheBusIsActivity"></activity>
        <activity android:name=".activitys.MainActivity"/>
        <activity android:name=".activitys.InfoActivity"/>
        <activity android:name=".activitys.SocialActivity"/>
        <activity android:name=".activitys.ConfigActivity"/>
    </application>

</manifest>